body
{
    color:white;
    background-image: linear-gradient(to bottom, rgb(36, 36, 240), rgb(10, 10, 141), darkblue);
}
.heading
{
    font-size:40px;
    width:80%;
}
#camera
{
    width: 500px;
    height: 550px;
    border: 2px dashed black;
}
.trainedObjectsName, #ObjectName, #AccuResult
{
    color:burlywood;
}
